<!DOCTYPE html>
<html lang="en">
<head>
    <title>Backbone Form - two way binding</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
</head>
<body>
    <header class="header">
        <h1>Form Collection</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-7" id="formCollection">
                <div class="form-group">
                    <button class="btn btn-success form-collection__btn-add" type="button">Add</button>
                    <button class="btn btn-default" id="loadFromJson">Load from JSON</button>
                </div>
                <div class="form_collection__container">
                    <div class="form-collection__item" data-is-item data-key="111">
                        <div class="form-inline form-group form-collection__item_preview">
                            <span>Name</span>
                            <span class="form-group form-control">Jan Kowalski</span>
                            <span>Email</span>
                            <span class="form-group form-control">jan@kowalski.pl</span>
                            <button type="button" class="btn btn-success form-collection__btn-edit">Edit</button>
                            <button type="button" class="btn btn-danger form-collection__btn-remove">Remove</button>
                        </div>
                        <div class="form-inline form-group form-collection__item_form form-collection__item_form--disabled">
                            <div class="form-group">
                                <label for="exampleInputName_0">Name</label>
                                <input name="name" value="Jan Kowalski" type="text" class="form-control" id="exampleInputName_0" placeholder="Jane Doe">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail_0">Email</label>
                                <input name="email" value="jan@kowalski.pl" type="email" class="form-control" id="exampleInputEmail_0" placeholder="jane.doe@example.com">
                            </div>
                            <button type="button" class="btn btn-success form-collection__btn-save">Save</button>
                            <button type="button" class="btn btn-danger form-collection__btn-cancel">Cancel</button>
                            <button type="button" class="btn btn-danger form-collection__btn-remove">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <h2>Collection Data</h2>
                <div id="collectionData"></div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted">
        <div class="container">
            <ul class="nav nav-inline">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/mikoweb/backbone-form">Github</a>
                </li>
            </ul>
            <p>Code licensed LGPLv3.</p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script src="../bower_components/deep-diff/releases/deep-diff-0.3.3.min.js"></script>
    <script src="../src/namespace.js"></script>
    <script src="../src/methods.js"></script>
    <script src="../src/mixins/related.js"></script>
    <script src="../src/mixins/related-silent.js"></script>
    <script src="../src/form-helper.js"></script>
    <script src="../src/form-to-model.js"></script>
    <script src="../src/model-to-form.js"></script>
    <script src="../src/two-way-binding.js"></script>
    <script src="../src/collection/item-view.js"></script>
    <script src="../src/collection/collection-view.js"></script>
    <script src="../src/defaults.js"></script>

    <script id="formItemTemplate" type="x-template/underscore">
        <div class="form-inline form-group form-collection__item_preview">
            <span>Name</span>
            <span class="form-group form-control"><%= form.get('name') ? form.get('name') : '-' %></span>
            <span>Email</span>
            <span class="form-group form-control"><%= form.get('email') ? form.get('email') : '-' %></span>
            <button type="button" class="btn btn-success form-collection__btn-edit">Edit</button>
            <button type="button" class="btn btn-danger form-collection__btn-remove">Remove</button>
        </div>
        <div class="form-inline form-group form-collection__item_form">
            <div class="form-group">
                <label for="exampleInputName___name__">Name</label>
                <input name="name" type="text" class="form-control" id="exampleInputName___name__" placeholder="Jane Doe">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail___name__">Email</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail___name__" placeholder="jane.doe@example.com">
            </div>
            <button type="button" class="btn btn-success form-collection__btn-save">Save</button>
            <button type="button" class="btn btn-danger form-collection__btn-cancel">Cancel</button>
            <button type="button" class="btn btn-danger form-collection__btn-remove">Remove</button>
        </div>
    </script>
    <script type="text/javascript" src="js/collection.js"></script>
</body>
</html>
